.page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: stretch;
    align-items: stretch;

    margin: 30px auto 30px;
    border: 1px #D3D3D3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-size: 12px;
    font-family: "Source Sans Pro", sans-serif;
}

.subPage {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-between;
    flex: 0 1 0;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 0 1 0;
}

@page {
    size: A4;
    margin: 0;
}

@media print {
    html, body {
        visibility: hidden;
    }

    .page {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        float: none !important;
        visibility: visible;
        border: initial;
        border-radius: initial;
        min-height: initial;
        box-shadow: initial;
        page-break-after: always;
        page-break-inside: avoid;
    }

    #thinColumn {
        background-color: rgba(240, 240, 240) !important;
        -webkit-print-color-adjust: exact;
    }

    .link {
        visibility: visible;
        position: absolute;
        bottom: 0;
    }

}