.hook {
    font-family: "Source Sans Pro", sans-serif;
    text-align: right;
    border-right: solid 5px rgb(0, 99, 90);
    padding-top: 0;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

.hook > h1 {
    font-family: "Source Sans Pro", sans-serif; /* TODO Extra bolt */
    font-weight: 900;
    font-size: 20px;
    color: rgb(0, 59, 53);
    letter-spacing: 1px;
}

.hook > p {
    font-size: 16px;
    font-family: "Source Sans Pro", sans-serif; /* TODO light */
    font-weight: 300;
}