<!-- a Row for a domain -->
<div class="col-md-12 col-xs-12 skill">

    <h2>{{ object.domain }}</h2>

    <div ng-repeat="subDomain in object.subDomains">
        <div ng-switch="subDomain.displayAs">

            <div ng-switch-when="levelList">
                <strong>{{ subDomain.title }} : </strong>
                <dl class="dl-horizontal">
                    <dt class="thin-dt" ng-repeat-start="skill in subDomain.list">
                        {{ skill.name }}
                    </dt>
                    <dd class="thin-dd enum" ng-repeat-end>
                        {{ skill.level.designation }}
                    </dd>
                </dl>
            </div>

            <div ng-switch-when="expList">
                <strong>{{ subDomain.title }} : </strong>
                <dl class="dl-horizontal">
                    <dt class="thick-dt" ng-repeat-start="skill in subDomain.list">
                        {{ skill.name }}
                    </dt>
                    <dd class="thick-dd enum" ng-repeat-end>
                        {{ skill.experiences.short.join(", ") }}
                    </dd>
                </dl>
            </div>

            <!--
                # CHART VIEWS
                Level attributes MUST be numbers
             -->

            <div ng-switch-when="radarChart">
                <strong ng-if="subDomain.title">{{ subDomain.title }} : </strong>
                <chart
                        chart-type="Radar"
                        list-data-object="subDomain.list"
                        chart-fill-color="rgba(0, 104, 75, 0.3)"
                        chart-stroke-color="rgba(0, 104, 75, 0.9)"
                        opt-point-label-font-family="'Typo-Light'"
                        opt-point-label-font-size="12"
                        width="285"
                        height="200"
                ></chart>
            </div>

            <div ng-switch-when="lineChart">
                <chart
                        chart-type="Line"
                        list-data-object="subDomain.list"
                        chart-fill-color="rgba(0, 104, 75, 0.3)"
                        chart-stroke-color="rgba(0, 104, 75, 0.9)"
                        opt-point-label-font-family="'Typo-Light'"
                        opt-point-label-font-size="12"
                        width="285"
                        height="200"
                ></chart>
            </div>

            <div ng-switch-when="barChart">
                <chart
                        chart-type="Bar"
                        list-data-object="subDomain.list"
                        chart-fill-color="rgba(0, 104, 75, 0.3)"
                        chart-stroke-color="rgba(0, 104, 75, 0.9)"
                        opt-point-label-font-family="'Typo-Light'"
                        opt-point-label-font-size="12"
                        width="285"
                        height="200"
                ></chart>
            </div>

            <!-- Own custom Stack chart with Divs-->

            <div ng-switch-when="stackLine">
                <strong>{{ subDomain.title }} : </strong>
                <table class="stackLine">
                    <tr>
                        <td class="stackCell" ng-repeat="skill in subDomain.list">
                            <em>{{ skill.name }}</em><br />
                            {{ skill.experiences.short.join(', ') }}
                        </td>
                    </tr>
                </table>
            </div>

            <!-- By default, display an enumeration without further information -->
            <div ng-switch-default>
                <p>
                    <strong>{{ subDomain.title }} : </strong>
                    {{ subDomain.list | pluck : 'name' : ', '}}
                </p>
            </div>

        </div>
    </div>

    <dl class="dl-horizontal" ng-if="object.list">
        <dt class="thin-dt" ng-repeat-start="skill in object.list">
            <strong>{{ skill.name }}</strong>
        </dt>
        <dd class="thin-dd" ng-repeat-end>
            {{ skill.level.designation }}
            <ul class="enumList" ng-if="skill.experiences">
                <li ng-repeat="exp in skill.experiences.short">
                    {{ exp }}
                </li>
            </ul>
        </dd>
    </dl>

</div>