<div class="study col-md-12 col-xs-12">

    <div class="information col-md-3 col-xs-3">
        <p class="date">
            <strong>{{ object.dates | durationFilter }}</strong>
        </p>
        <p class="place" ng-if="object.school">
            <em>
                {{ object.school.name }}<br />
                {{ object.school.city }}<span ng-if="object.school.country">,
                {{ object.school.country | uppercase }}</span>
            </em>
        </p>
    </div>

    <div class="col-md-9 col-xs-9"
         ng-class="{ 'details': object.notes.detailed !== undefined }"
         data-toggle="{{ (object.notes.detailed !== undefined) ? 'modal' : '' }}"
         data-target="#{{ object._id }}">

        <p>
            <strong>{{ object.name }}</strong>
        </p>
        <div class="row">
            <div class="col-md-12 col-xs-12">
                <span>{{ object.description.join(', ') }}</span>
            </div>

            <div class="col-md-1 col-xs-1 infoPicto" ng-if="object.notes.briefly">
                <span class="fa fa-info-circle"></span>
            </div>
            <div class="col-md-11 col-xs-11" ng-if="object.notes.briefly">
                <ul class="enumList">
                    <li ng-repeat="briefNote in object.notes.briefly">
                        {{ briefNote }}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Start Of Modal content-->
    <div class="modal fade" id="{{ object._id }}" tabindex="-1" role="dialog" aria-labelledby="{{ object._id }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>{{ object.name }}</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>