<div class="work-experience col-md-12 col-xs-12">

    <div class="information col-md-3 col-xs-3">
        <p class="date">
            <strong>{{ object.dates | durationFilter }}</strong>
        </p>
        <p class="place">
            <em>
                {{ object.employer.name }}<br />
                {{ object.employer.city }}<span ng-if="object.employer.country">, {{ object.employer.country | uppercase }}</span>
            </em>
        </p>
    </div>

    <div class="details col-md-9 col-xs-9"
         ng-class="{ 'details' : object.missions.detailed !== undefined }"
         data-toggle="{{ (object.missions.detailed !== undefined) ? 'modal' : '' }}"
         data-target="#{{ object._id }}">
        <p>
            <strong>{{ object.name }}</strong>
        </p>
        <ul class="list-unstyled">
            <li ng-repeat="mission in object.missions.briefly">
                <i class="fa fa-check-square-o fa-fw"></i>
                {{ mission }}
            </li>
        </ul>
    </div>

    <!-- Start Of Modal content-->
    <div class="modal fade" id="{{ object._id }}" tabindex="-1" role="dialog" aria-labelledby="{{ object._id }}">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <!-- MODAL TITLE BAR -->
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4>{{ object.name }}</h4>
                </div>
                <div class="modal-body">

                    <!-- MODAL HEAD (Company, address, dates) -->
                    <div class="row">
                        <div class="col-md-6">
                            <div class="media" ng-if="object.employer">
                                <div class="media-left">
                                    <img class="media-object" width="150px" src="{{ object.employer.logoUrl }}" alt="Logo {{ object.employer.name }}">
                                </div>
                                <div class="media-body">
                                    <h4 class="media-heading">{{ object.employer.name }}</h4>
                                    <address>
                                        <strong>{{ object.employer.name }}</strong><br>
                                        {{ object.employer.address }}<br>
                                        {{ object.employer.zip }} {{ object.employer.city }}
                                    </address>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">

                        </div>
                    </div>

                    <!-- MODAL MAIN SECTION (Context, projects and tools) -->
                    <div class="row">

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>