.resumePage {
    display: flex;
}

.resume {
    background-color: rgb(230, 230, 230);
    flex: 1 1 auto;
    height: 100vh;
    overflow-y: scroll;
}

#largeColumn {
    height: inherit;
}

#thinColumn {
    background: rgb(240, 240, 240);
}