.resumePage {
    padding-top: 30px;
    display: flex;
}

.resumeMenu {
    flex-grow: 1;
    flex-basis: 0;
    padding: 15px;
}

.resumeMenu > *{
    overflow: auto;
    height: auto;
}

.resume {
    flex-grow: 4;
    flex-basis: 0;
}

#largeColumn {
    height: inherit;
}

#thinColumn {
    background: rgba(0, 104, 75, 0.1);
}