.radial-partition-graph .arc {
    stroke-width: 2px;
    stroke: rgb(229, 240, 237);
}

.radial-partition-graph polyline {
    fill: none;
    stroke: rgb(33, 34, 34);
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}