.radial-tree-graph .link {
    fill: none;
    stroke: #555;
    stroke-opacity: 0.4;
    stroke-width: 1.5px;
}

.radial-tree-graph .node--internal > circle {
    stroke: rgb(0, 59, 53);
    stroke-width: 1.5px;
    fill: rgb(229, 240, 237);
}

.radial-tree-graph .node--internal > text {
    font-weight: 700;
}