.sidebar {
    background-color: rgba(0, 32, 29, 1);
    font-family: "Abel", monospace;
    color: rgb(210, 210, 210);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
    flex-basis: 0;
    padding: 20px;
}

.sidebar h1 {
    text-align: center;
    font-size: 3rem;
    font-family: "Abel", monospace;
}

.sidebar h2,
.sidebar h3 {
    margin-bottom: 6px;
}

.sidebar .btn-group {
    width: 100%;
    display: flex;
}

.sidebar .btn-group button {
    border: 2px solid rgba(0, 104, 75, 1);
    flex-grow: 1;
    background-color: rgba(0, 32, 29, 1);
    font-family: "Abel", monospace;
    font-size: 1em;
    color: rgb(210, 210, 210);
}

.sidebar .btn-group .btn-current {
    background-color: rgba(0, 104, 75, 1);
    color: black;
}
/* Avoid Double borders*/
.btn-group .button:not(:last-child) {
    border-right: none;
}

/* Soft corners on first and last buttons */
.sidebar .btn-group button:first-child {
    border-bottom-left-radius: 6px;
    border-top-left-radius: 6px;
}
.sidebar .btn-group button:last-child {
    border-bottom-right-radius: 6px;
    border-top-right-radius: 6px;
}

.sidebar ul.list-unstyled * {
    color: rgb(210, 210, 210);
    text-decoration: none;
    list-style-type: none;
}

.sidebar ul.list-unstyled {
    margin: 0 0 10px;
    padding-left: 10px;
}